/*========== Colors ==========*/
$font-primary-color: #FFFFFF;
$font-secondary-color: #FFFFFF62;
$font-detail-color: #0EE6b7;
$background-primary-color: #1C2128;
$background-secondary-color: #2E4f8E;

$section-space: 3rem;

/*========== Font size ==========*/
$extra-small: 12px;
$small: 14px;

$transition-time: 0.3s;

/*========== Fonts ==========*/
$fira-sans: "Fira Sans", sans-serif;
$poppins: "Poppins", sans-serif;


