/*========== Colors ==========*/
$primary-color: #FFFFFF;
$secondary-color: rgba(255, 255, 255, 0.623);
$detail-color: #0ee6b7;

/*========== Fonts ==========*/
$fira-sans: "Fira Sans", sans-serif;

/*========== Font size ==========*/
$small: 12px;